<h1 class="title"><%= t '.title' %></h1>

<div class="row">

  <div class="locate-container row col s3">
    <h5 class="title"><%= t '.instruction_title' %></h5>
    <ul>
      <li><%= t '.instruction_1' %></li>
      <li><%= t '.instruction_2' %></li>
      <button class="btn locate-button"><%= t '.locate_me_label' %></button>
    </ul>
  </div>

  <div id="_form" class="hidden">
    <%= form_tag pins_path, method: :post, id: 'new_pin_form', remote: true do |f| %>
    <%= hidden_field_tag 'pin[latitude]', '' %>
    <%= hidden_field_tag 'pin[longitude]', '' %>
    <%= hidden_field_tag 'pin[address]', '' %>
    <%= submit_tag 'Create Report', :class => "btn", :id => 'save_pin_button'%>
    <% end %>
  </div>

  <div class="col s9">

    <div class="search-container">
      <i class="material-icons">search</i>
      <input id="address" name="address" placeholder="<%= t '.placeholder' %>" />
    </div>

    <%= render 'pins/map' %>
  </div>

</div>
