<h1 class="title">Reported ICE Sightings</h1>
<div class="row">
  <div class="locate-container row col s3">
    <h5 class="title">Report a raid by:</h5>
    <ul>
      <li>1. Searching with an address</li>
      <button class="btn locate-button">Locate Me</button>
      <li>2. Clicking on a map</li>
    </ul>
  </div>
    <div id="_form" class="hidden">
      <%= form_tag pins_path, method: :post, id: 'new_pin_form', remote: true do |f| %>
      <%= hidden_field_tag 'pin[latitude]', '' %>
      <%= hidden_field_tag 'pin[longitude]', '' %>
      <%= hidden_field_tag 'pin[address]', '' %>
      <%= submit_tag 'Create Report', :class => "btn", :id => 'save_pin_button'%>
      <% end %>
    </div>
    <div class="col s9">
      <div class="search-container">
        <i class="material-icons">search</i>
        <input id="address" name="address" placeholder="Search by Address or Place Name..."/>
      </div>
        <%= render 'pins/map' %>
    </div>
  </div>
</div>
