<div class="container">
  <h3 id="mission-title"><%= t '.mission_label' %></h3>
  <p><%= t '.mission_paragraph_1' %></p>
  <p><%= t '.mission_paragraph_2' %></p>
  <p><%= t '.mission_paragraph_3' %></p>
  <p><%= t '.mission_paragraph_4' %></p>
  <p><%= t '.mission_paragraph_5' %><%= mail_to "thesanctuaryapp@gmail.com" %>.</p>
</div>
