<div class="slider">
    <ul class="slides">
      <li>
      <img src="alice-donovan-rouse.png">
        <div class="slide-caption">
          <h3><%= t '.slide_1_title' %></h3>
          <h5 class="light grey-text text-lighten-3"><%= t '.slide_1_tagline' %></h5>
          <h6 class="photo-caption light grey-text text-lighten-3"><%= t '.photo_by' %> Alice Donovan Rouse</h6>
        </div>
      </li>
      <li>
      <img src="nitish-meena.png">
        <div class="slide-caption">
          <h3 style="color:#265D87"><%= t '.slide_2_title' %></h3>
          <h5 style="color:#265D87"><%= t '.slide_2_tagline' %></h5>
          <h6 style="color:#265D87"><%= t '.photo_by' %> Nitish Meena</h6>
        </div>
      </li>
    </ul>
  </div>
  <div class="mission-container">
  <%= render "mission" %>
  </div>
