<div class="container">

  <h5><%= t '.title' %></h5>
  <br>
  <blockquote>
    <p>
      <b><%= t '.only_once' %></b> <%= t '.make_sure' %>
    </p>
  </blockquote>
  <br>
  <%= render 'users/messageform' %>
  <br>
  <% if @user.alert_msg %>
    <%= t '.your_message' %>
    <br>
    <%= @user.alert_msg %>
  <% end %>
  <br>
  <h5><%= t '.your_contacts' %></h5>
    <p><%= t '.up_to_five' %>
      <br>
      <%= t '.if_targeted' %>
      <br>
      <%= t '.once_clicked' %>
    </p>
  <br>
  <br>
    <% @user.contacts.each do |c|%>
    <div class="contact-display"><img class="phone-img" src="../phone.png"></div> <div class="contact-display"> <%= c.nickname %>: <%= c.phone_num %></div><br>

    <% end %>
    <br>
    <%= link_to t('.add_contact'), new_contact_path, class: "waves-effect waves-light btn"%>
</div>
