<div class="container">
  <div class="user-show-welcome">
    <h5>Welcome to your profile page.</h5>
    <h6>Here, you can set your emergency message and contacts.</h6>
  </div>
  <h5> <i class="material-icons">message</i> Your Alert Message</h5>
  <blockquote>
    <p>
      <b>You will only be able to create a message once!</b><br>
      Make sure that you draft a clear message before saving it to your account.</p>
  </blockquote>
  <br>
    <%= render 'users/messageform' %>
    <br>
    <% if @user.alert_msg %>
      Your message:<br>
      <%= @user.alert_msg %>
    <% end %>

    <h5><i class="material-icons">contacts</i> Your Emergency Contacts</h5>
      <p>Please enter names and phone numbers for up to 5 emergency contacts.<br>
        If you are targeted by ICE at your home, hit the red "Alert!" button at the top left-corner of the navigation bar.<br>
        Once clicked, any contacts entered on your list of contats will be notified with your entry.</p>

    <% @user.contacts.each do |c|%>
    <p class="contact-display">
      <i class="tiny material-icons">phone</i>
      <%= c.nickname %>: <%= c.phone_num %>
    </p>
    <% end %>
    <%= render 'contacts/new' %>
</div>
