<div class="container">
  <div class="user-show-welcome">
    <h5><%=t '.title'%></h5>
    <h6><%=t '.set_contacts'%></h6>
  </div>
  <h5> <i class="material-icons">message</i><%=t '.your_alert_msg'%></h5>
  <blockquote>
    <p>
      <b><%=t '.make_sure'%></b><br>
      <%=t '.only_once'%></p>
  </blockquote>
  <br>
    <%= render 'users/messageform' %>
    <br>
    <% if @user.alert_msg %>
      <u><%= t '.your_message'%>: <%= @user.alert_msg %></u>
    <% end %>

    <h5><i class="material-icons">contacts</i> <%=t '.your_contacts'%></h5>
      <p><%= t '.up_to_five' %><br>
        <%= t '.if_targeted' %><br>
        <%= t '.once_clicked' %></p>

    <% @user.contacts.each do |c|%>
    <p class="contact-display">
      <i class="tiny material-icons">phone</i>
      <%= c.nickname %>: <%= c.phone_num %>
    </p>
    <% end %>

    <% if @user.contacts.length <= 4  %>
      <%= render 'contacts/new' %>
    <% end %>

    <% if @user.contacts.length == 5 %>
      <b><p style="color: red;"><%="You cannot add more than 5 contacts."%></p></b>
    <% end %>
</div>
