<br>
<div class="container">
  <div class="whole-rights-container">
    <%= render 'rights/msgsent' %>
    <h2><%= t '.title' %></h2>
    <div class="your-rights">
      <div class="chevron-div"></div>
      <div class="question-div">
        <b><h5 class="title"><%= t '.question1'%></h5></b>
      </div>
        <div class="rights-container">
          <ul class="rights-list">
            <blockquote>
              <p><b><%=t '.ask'%></b> "<%=t '.instruction1'%>"</p>
              <p><b><%=t '.ask'%></b> "<%=t '.instruction2'%>"</p>
              <p><%=t '.instruction3'%></b></p>
              <p><%=t '.instruction4'%> <b><%=t '.instruction5'%> </b></p>
            </blockquote>
          </ul>
    </div>
  </div>
<div class="your-rights">
    <div class="chevron-div"></div>
    <div class="question-div">
      <h5 class="title"><%=t '.question2'%></h5>
    </div>

      <div class="rights-container">
        <ul>
          <blockquote><b><%=t '.ask'%></b> "<%= t '.instruction6'%>".
            <p><%= t '.instruction7'%> <b><%= t '.instruction8'%></b></p>
            <p><b><%=t '.ask1'%></b> <%= t '.space'%></p>
            <p><%= t '.instruction9'%> <b><%= t '.instruction10'%></b> <%= t '.instruction11'%> <b><%= t '.invalid'%></b>.<%= t '.instruction12'%></p>
            <p><%= t '.instruction13'%></p>
            <p><%= t '.instruction14'%> <b>"<%= t '.instruction15'%> "</b></p>
          </blockquote>
        </ul>
    </div>
  </div>
<div class="your-rights">
    <div class="chevron-div"></div>
    <div class="question-div">
      <b><h5 class="title"><%= t '.question3'%></h5></b>
    </div>

      <div class="rights-container">
        <ul>
          <blockquote><p><b><%= t '.instruction16'%></b> <%= t '.instruction17'%></p>
          <p><%= t '.instruction18'%></p>
          <b><u><p><%= t '.instruction19'%></p></u></b>
          </blockquote>
        </ul>
    </div>
  </div>
 </div>
</div>
</div>
