<footer class="page-footer">
     <div class="container">
       <div class="row">
         <div class="col l6 s12">

           <h5 class="white-text">
             <%= t 'views.layouts.footer.who_title' %>
           </h5>

           <p class="grey-text text-lighten-4">
             <%= t 'views.layouts.footer.who_body' %>
           </p>

         </div>
         <div class="col l4 offset-l2 s12">
           <h5 class="white-text"><%= t 'views.layouts.footer.navigation_title' %></h5>
           <ul>

             <li>
               <%= link_to(t('views.layouts.footer.home_link_text'), root_path,
                             class: "grey-text text-lighten-4") %>
             </li>
             <li>
               <%= link_to(t('views.layouts.footer.map_link_text'), map_path,
                           class: "grey-text text-lighten-4") %>
             </li>
             <li>
               <%= link_to(t('views.layouts.footer.rights_link_text'),
                           rights_path, class: "grey-text text-lighten-4") %>
             </li>

           </ul>
         </div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">
         <%= t 'views.layouts.footer.copyright_tag' %>
       </div>
     </div>
   </footer>
