<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">

    <% if current_user %>
      <li class="panic-button red"><%= link_to "Alert!", alert_path, method: "POST"%></li>
      <li><%= link_to "Welcome #{current_user.username}", user_path(current_user)%></li>
    <% end %>

      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "Map", map_path%></li>
      <li><%= link_to "Your Rights", rights_path%></li>
    <% if !current_user %>
      <li><%= link_to "Sign up", new_user_path%></li>
      <li><%= link_to "Log-In", login_path%></li>
    <% else%>
      <li><%= link_to "Log Out", logout_path%></li>
    <% end %>


    </ul>
  </div>
</nav>
