  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">

    <% if current_user %>

      <li class="panic-button red">
        <%= link_to(t('.alert_link_text'), alert_path,
                    method: "POST") %>
      </li>
      <li>
        <%= link_to((t(".welcome") + ' ' +
                    current_user.username), user_path(current_user)) %>
      </li>

    <% end %>

      <li>
        <%= link_to(t('.home_link_text'), root_path,
                      class: "grey-text text-lighten-4") %>
      </li>
      <li>
        <%= link_to(t('.map_link_text'), map_path,
                      class: "grey-text text-lighten-4") %>
      </li>
      <li>
        <%= link_to(t('.rights_link_text'), rights_path,
                      class: "grey-text text-lighten-4") %>
      </li>

    <% if !current_user %>

      <li>
        <%= link_to(t('.signup_link_text'), new_user_path,
                      class: "grey-text text-lighten-4") %>
      </li>
      <li>
        <%= link_to(t('.login_link_text'), login_path,
                      class: "grey-text text-lighten-4") %>
      </li>

    <% else%>


      <li>
        <%= link_to(t('.logout_link_text'), logout_path,
                      class: "grey-text text-lighten-4") %>
      </li>

    <% end %>
    </ul>

    <li id="language">
      <a class="dropdown-button" href="#!" data-activates="dropdown1">
        <%= t '.language_select' %>
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <ul id='dropdown1' class='dropdown-content'>
      <li class="drop">
        <%= link_to t('.english'), languages_path(lang_pref: 'en'), method: :post %>
        <!-- <a href="/languages" class="lang-pref-opt"><%= t '.english' %></a> -->
      </li>

      <li class="drop">
        <%= link_to t('.spanish'), languages_path(lang_pref: 'es'), method: :post %>
        <!-- <a href="/languages" class="lang-pref-opt"><%= t '.spanish' %></a> -->
      </li>
    </ul>

  </div>
