<!DOCTYPE html>
<html>
  <head>
    <title>Sanctuary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-links">
      <%= link_to "Home", root_path%>
    
      <% if current_user %>
        <%= link_to "Log Out", logout_path%>
      <% else %>
        <%= link_to "Sign up", new_user_path%>
        <%= link_to "Log-In", login_path%>
      <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
